<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="QUIPS Workshop">
    <meta property="og:description" content="QUIC Privacy and Security Workshop">
    <meta property="og:url" content="https://chris-wood.github.io/quips-workshop">
    <meta property="og:site_name" content="QUIPS">
    <meta property="og:image" content="https://quicwg.org/asset/badge-sq.png">
  </head>
  <body>

<!--    
    {- include navbar.html %}
-->
            
      <div class="container">
        
        <h1><img src="/asset/badge.png" class="img-responsive" alt="QUIC"></h1>

        <div class="lead">

        {{ content }}

      </div>

    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
